

.Header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;

    width: 100%;

}


.Header .Header_Wrap {
    display: flex;
    max-width: 1200px;
    margin: 0 auto;
    gap: 40px;
    line-height: 80px;
    color: #fff;
}

.Header .Header_Wrap .Gnb {
}

.Header .Header_Wrap h1 {
    font-size: 0;
}

.Header .Header_Wrap .Gnb>ul {
    display: flex;
    gap: 40px;

}

.Header .Header_Wrap .Util {
    margin: 0 0 0 auto;
    font-size: 24px;
}

.MainVisual .MainSlide .itm {
    position: relative;
    height: 100vh;
    min-height: 600px; 

}
/* .MainVisual .MainSlide .itm::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #000;
    opacity: 0.3;

}  */

.MainVisual .MainSlide .itm01 {
    background: url(../images/MainSlide01.jpg) no-repeat center center/cover;
}
.MainVisual .MainSlide .itm02 {
    background: url(../images/MainSlide02.jpg) no-repeat center center/cover;
}
.MainVisual .MainSlide .itm03 {
    background: url(../images/MainSlide03.jpg) no-repeat center center/cover;
}
.MainVisual .MainSlide .itm04 {
    background: url(../images/MainSlide04.jpg) no-repeat center center/cover;
}

.MainVisual .MainSlide .Slogan {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 1200px;
    width: 100%;
}

.MainVisual .MainSlide .Slogan strong {
    display: block;
    margin: 0 0 22px 0;
    font-size: 72px;
    font-weight: 300;
    /* text-shadow: 0 0 1px #000; */
    color: #fff;
}

.MainVisual .MainSlide .Slogan P {
    font-size: 32px;
    /* text-shadow: 0 0 1px #000; */
    color: #fff;
    line-height: 22px;
    font-weight: 100;
    margin: 0 0 240px 0;
}

.MainVisual .MainSlide .slick-dots {
    position: absolute;
    bottom: 100px;
    left: 50%;
    transform: translate(-50%, 0);
    max-width: 1200px;
    width: 100%;
}

 .MainVisual .MainSlide .slick-dots li {
    position: relative;
    display: inline-block;
    width: 20px;
    height: 20px;
    background: #fff;
    margin: 0 10px 0 0;
    border-radius: 10px;
    overflow: hidden;
}

 .MainVisual .MainSlide .slick-dots li::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #9e1c4e;
   
}  

.MainVisual .MainSlide .slick-dots li.slick-active::before {
    width: 20px;
    transition: 0.3s;
}

.MainVisual .MainSlide .slick-dots li button {
    display: none;
}

/* .MainBusinEss .Visual figure {
    width: 100%;
  height: 500px;
  overflow: hidden;
}

.MainBusinEss .Visual .img_box {
    max-width: 100%;
  height: auto;
  display: block;
} */

.Visual_slide figure {
    width: 1200px;
    margin: 0 30px;
}

.Visual_slide img {
    width: 100%;
    height: 600px;
    object-fit: cover;
}

.bar {
    position: relative;
    max-width: 1000px;
    margin: 0 auto;
    height: 1px;
    background: #ddd;
    bottom: -60px;
    width: 100%;
}

.bar span {
    position: absolute;
    top: 0;
    left: 0;
    width: calc(100% / 8);
    height: 1px;
    background: #9e1c4e;
}

.Visual_slide figure {
    position: relative;
}

.caption {
    position: absolute;
    bottom: 100px;
    right: 100px;
    width: 400px;
    height: 300px;
    background: rgba(0,0,0,0.4);
    color: #fff;

    padding: 80px;
}

.MainBusinEss {
    position: relative;
}

.MainBusinEss .num {
    position: absolute;
    bottom: 20px;
    left: 50%;
    margin: 0 0 0 -600px;
}

.MainBusinEss .num span {
    font-size: 32px;
    font-weight: 500;
    color: #9e1c4e;
}

.MainContent .MainContent_slide {
    display: flex;
    gap: 15px;
    max-width: 1200px;
    margin: 0 auto;
}

.MainContent .MainContent_slide .img_box {
    position: relative;
}

.MainContent .MainContent_slide .img_box .Maininner {
    position: absolute;
    top: 495px;
    left: 20px;
    /* transform: translate(-50%, -50%);     */
    max-width: 1200px;
    width: 100%;
    padding: 0;
}

.MainContent .MainContent_slide .img_box .Maininner strong {
    font-size: 32px;
    font-weight: 300;
    line-height: 72px;
    color: #fff;
    margin: 0 0 19px 0;
    /* padding: 0 0 0 15px; */
    min-width: 320px;
    width: 100%;
}


.MainContent .MainContent_slide .img_box .Maininner p {
    font-size: 18px;
    font-weight: 300;
    color: #fff;
    /* padding: 0 0 0 15px; */
    min-width: 320px;
    width: 100%;
}

