 /* *{
    outline: 1px solid tomato;
 }  */

 .Header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;

    width: 100%;
}

.Header .Header_Wrap {
    display: flex;
    max-width: 1200px;
    margin: 0 auto;
    gap: 40px;
    line-height: 80px;
    color: #fff;
}

.Header .Header_wrap .Utill {
    position: relative;
    z-index: 999;
    margin: 0 0 0 auto;
    font-size: 24px;
}

.Header .Header_wrap .Utill i {
    color: #fff;
}

.Header:hover .Header_wrap .Utill i {
    color: #333;
}

.Header .Header_Wrap .Gnb {
    white-space: nowrap;
}

.Header .Header_Wrap h1 {
    font-size: 0;
}

.Header .Header_Wrap .Gnb>ul {
    display: flex;
    gap: 40px;
}


.Header:hover .Header_Wrap .Gnb>ul {
    position: relative;
    z-index: 999;
}

.Header .Header_Wrap .Gnb>ul>li {
    position: relative;
}


.Header:hover .Header_Wrap .Gnb>ul>li>a {
    color: #333;
}

.Header .Header_wrap .Gnb>ul>li>a {
    color: #fff;
    font-size: 16px;
}

.Header .Gnb>ul>li .Sub {
    position: absolute;
    top: 70px;
    left: 0;
    background: #fff;
    line-height: 40px;
    z-index: 1;
    display: none;
    font-size: 15px;
}



.Header:hover .Gnb>ul>li .Sub {
    display: block;
}




.Header .Gnb::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 460px;
    background: #fff;
    z-index: 1;

    display: none;
}

.Header:hover .Gnb::before {
    display: block;
}


.Header .Gnb>ul>li a {
    display: block;
    color: #e8e8e8;
}

.MainVisual .MainSlide .itm {
    position: relative;
    height: 100vh;
    min-height: 600px; 
}

/* .MainVisual .MainSlide .itm::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #000;
    opacity: 0.3;

}  */

.MainVisual .MainSlide .itm01 {
    background: url(../images/MainSlide01.jpg) no-repeat center center/cover;
}
.MainVisual .MainSlide .itm02 {
    background: url(../images/MainSlide02.jpg) no-repeat center center/cover;
}
.MainVisual .MainSlide .itm03 {
    background: url(../images/MainSlide03.jpg) no-repeat center center/cover;
}
.MainVisual .MainSlide .itm04 {
    background: url(../images/MainSlide04.jpg) no-repeat center center/cover;
}

.MainVisual .MainSlide .Slogan {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 1200px;
    width: 100%;
}

.MainVisual .MainSlide .Slogan strong {
    display: block;
    margin: 0 0 22px 0;
    font-size: 72px;
    font-weight: 300;
    /* text-shadow: 0 0 1px #000; */
    color: #fff;
}

.MainVisual .MainSlide .Slogan P {
    font-size: 32px;
    /* text-shadow: 0 0 1px #000; */
    color: #fff;
    line-height: 22px;
    font-weight: 100;
    margin: 0 0 240px 0;
}

.MainVisual .MainSlide .slick-dots {
    position: absolute;
    bottom: 100px;
    left: 50%;
    transform: translate(-50%, 0);
    max-width: 1200px;
    width: 100%;
}

 .MainVisual .MainSlide .slick-dots li {
    position: relative;
    display: inline-block;
    width: 20px;
    height: 20px;
    background: #fff;
    margin: 0 10px 0 0;
    border-radius: 10px;
    overflow: hidden;
}

 .MainVisual .MainSlide .slick-dots li::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #9e1c4e;
   
}  

.MainVisual .MainSlide .slick-dots li.slick-active::before {
    width: 20px;
    transition: 0.3s;
}

.MainVisual .MainSlide .slick-dots li button {
    display: none;
}

/* .MainBusinEss .Visual figure {
    width: 100%;
  height: 500px;
  overflow: hidden;
}

.MainBusinEss .Visual .img_box {
    max-width: 100%;
  height: auto;
  display: block;
} */

.Visual_slide figure {
    width: 1200px;
    margin: 0 30px;
}

.Visual_slide img {
    width: 100%;
    height: 600px;
    object-fit: cover;
}



.bar {
    position: relative;
    max-width: 1000px;
    margin: 0 auto;
    height: 1px;
    background: #ddd;
    bottom: -60px;
    width: 100%;
}

.bar span {
    position: absolute;
    top: 0;
    left: 0;
    width: calc(100% / 8);
    height: 1px;
    background: #9e1c4e;
}

.Visual_slide figure {
    position: relative;
}

.caption {
    position: absolute;
    bottom: 120px;
    right: 120px;
    width: 515px;
    height: 300px;
    background: rgba(0,0,0,0.4);
    color: #fff;

    padding: 80px;
}

.caption  strong {
    font-size: 24px;
    
}

.caption p {
    margin: 18px 0 0 0;
    line-height: 24px;
}

.MainBusinEss {
    position: relative;
}

/* .MainBusinEss .inner {
    padding: 0 0 24px 0;
} */

.MainBusinEss .num {
    position: absolute;
    bottom: 20px;
    left: 50%;
    margin: 0 0 0 -600px;
}

.MainBusinEss .num span {
    font-size: 32px;
    font-weight: 500;
    color: #9e1c4e;
}
.MainContent{
background: #f3f3f3;
}
.MainContent .MainContent_slide {
    display: flex;
    gap:8px;
    max-width: 1200px;
    margin: 0 auto;
    
}



.MainContent .MainContent_slide .img_box {
    position: relative;
    overflow: hidden;
}

.MainContent .MainContent_slide figure {
    flex: 1;
    overflow: hidden;
    border-bottom: 2px solid transparent;
}

.MainContent .MainContent_slide figure:hover {
    border-bottom: 2px solid #9e1c4e;
}

.MainContent .MainContent_slide figure img {
    width:100%;
    transition: 1s;
    
}

.MainContent .MainContent_slide figure:hover img {
    transform: scale(1.2);   
}

.MainContent .MainContent_slide .img_box .Maininner {
    position: absolute;
    display: inline-block;
    top: 495px;
    left: 0px;
    box-sizing: border-box;
    line-height: 36px;
    max-width: 1200px;
    width: 100%;
    padding: 0 20px;
}

.MainContent .MainContent_slide .img_box .Maininner strong {
    font-size: 32px;
    font-weight: 300;
    color: #fff;

    margin: 0 0 24px 0;
    /* padding: 0 0 0 15px; */
    /* min-width: 320px; */
    width: 100%;
}

.MainContent .MainContent_slide .img_box .Maininner p {
    font-size: 18px;
    font-weight: 300;
    color: #fff;
    line-height: 24px;
    /* padding: 0 0 0 15px; */
    /* min-width: 320px; */
    /* width: 100%; */

}

/* .MainNews .inner {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 0 24px 0;
    text-align: center;
} */


.MainNews_box .MainNewsda {
    max-width: 1200px;
    margin: 0 auto;
    border-bottom: 2px solid #a0a0a0;
    border-top:2px solid #a0a0a0;
}

.MainNews_box .MainNewsda li {
    display: flex;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
    font-size: 24px;
    gap: 20px;
    height: 80px;
}

.MainNews_box .MainNewsda li~li {
    border-top: 2px solid #e8e8e8;
}

.MainNewsda li a {
    border: 1px solid #a6a6a6;
    color: #a6a6a6;
    font-size: 12px;
    padding: 4px 12px;
}

.MainNewsda li span {
    color: #a6a6a6;
    font-size: 12px;
}

.xi-angle-right {
    margin: 0 0 0 auto;
    cursor: pointer;
    color: #a6a6a6;
}


.MainNewsThe {
    max-width: 1200px;
    margin: 0 auto;    
    text-align: center;
    padding: 60px 0 0 0;
}

.MainNewsThe a {
    border: 1px solid #3a3a3a;
    padding: 12px 40px;
    align-items: center;
    color: #a6a6a6;
}

.MainSns {
    background: #f3f3f3;
}

.MainSns .Sns_content {
    display: flex;
    width: 1200px;
    margin: 0 auto;
    gap: 15px;
}

.MainSns .Sns_content>* {
    position: relative;
    flex: 1;
    text-align: center;
}


.MainSns .Sns_content .Sns_Text {
    display: flex;
    background: #b4a1aa;
}

.MainSns .Sns_content .Sns_Text i {
    height: 46px;
    color: #fff;
    line-height: 16px;
    font-size: 30px;
    box-sizing: border-box;
    padding: 15px 10px;
}

.MainSns .Sns_content .Sns_Text strong {
    color: #fff;
    font-size: 18px;
    padding: 15px 0;
}

.MainSns .Sns_content .Sns_Text .link {
    text-align: right;
}

.MainSns .Sns_content .Sns_Text .link a {
    position: relative;
    display: inline-block;
    font-size: 0;
    width: 40px;
    left: 80px;
    border: none;
    box-sizing: border-box;
    padding: 14px 0 14px 14px;
    background: transparent;
    cursor: pointer;
}

.MainSns .Sns_content .Sns_Text .link a::before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    height: 1px;
    background: #fff;
}

.MainSns .Sns_content .Sns_Text .link a::after {
    content: "";
    position: absolute;
    right: 0;
    width: 8px;
    height: 1px;
    background: #fff;
    transform: rotate(45deg);
    transform-origin: right;
}

.MainSns .Sns_content figure .img_box {
    overflow: hidden;
    max-height: 390px;
    border-bottom: 1px solid #b4a1aa;
    border-left: 1px solid #b4a1aa;
    border-right: 1px solid #b4a1aa;
}

.MainSns .Sns_content figure img {
    transition: 0.5s;
}

.MainSns .Sns_content figure:hover img {
    transform: scale(1.1);
}

.MainSns .Sns_content figure:hover .Sns_Text {
    background: #9e1c4e;
}

.MainSns .Sns_content figure:hover .img_box {
    border-bottom: 1px solid #9e1c4e;
    border-left: 1px solid #9e1c4e;
    border-right: 1px solid #9e1c4e;
}

.Footer {
    background:#828282;
}

.FooterAll {
max-width: 1200px;
    margin: 0 auto;
    
}
.FooterInfo {
    color: #ebe8e9;
border-bottom: 1px solid #aeaeae ;
}

.FooterInfo li{
display: inline-block;
padding: 0 0 20px 0;
font-weight: 200;

}

.FooterInfo li:hover {
    color: #9e1c4e;
}
.Footeradr {
    padding: 20px 0 0 0;
}

.FooterAll .Ulmidle {
    display: flex;
    color: #d3d3d3;
    line-height: 24px;
    font-weight: 100;
    font-size: 14px;
    gap: 20px;
}

.FooterAll .Ulmidle02 {
    display: flex;
    color: #d3d3d3;
    line-height: 24px;
    font-weight: 100;
    font-size: 14px;
    gap: 20px;
}

.cype {
    padding: 20px 0 0 0;
    color: #ababab;
    font-size: 12px;
}

